* {
	font-family: 'Nunito', sans-serif;
}

a {
	text-decoration: none !important;
}


/* Navbar */

#header-nav {
	height: 64px;
	background-color: #689F38;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1 {
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.75em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid white;
}

.navbar-header button.navbar-toggle {
	margin: 16px;
}

#collapsable-nav {
	margin: 0;
	z-index: 1;
}

#nav-list {
	margin-top: 0;
	margin-bottom: 16px;
}

#nav-list li {
	margin-bottom: 2px;
}

#nav-list h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 1.5em;
}

#nav-list h3 a {
	color: black;
}

#nav-list li:nth-child(odd) {
	background-color: #C5E1A5;
}

#nav-list li:nth-child(even) {
	background-color: #9CCC65;
}


/* Heading */

#menu-header h2 {
	margin-top: 16px;
	margin-bottom: 16px;
}


/* Items */

.item {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: 8px;
	margin-bottom: 8px; 
}

.item p {
	padding: 8px;
}

#chicken, #chicken p a {
	background-color: #D59898;
	color: black;
}

#beef, #beef p a {
	background-color: #C14543;
	color: white;
}

#sushi, #sushi p a {
	background-color: #E5D198;
	color: black;
}


/* Responsive */

@media screen and (max-width: 767px) {

	#menu-header h2 {
		font-size: 1.5em;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {

	#menu-header h2 {
		font-size: 2em;
	}

}

@media screen and (min-width: 992px) {

	#menu-header h2 {
		font-size: 2.25em;
	}

}

